
<mygl-generator>
  <platform use-khrplatform="false">core</platform>
  <extensions>
    <extension>GL_ARB_bindless_texture</extension>
    <extension>GL_ARB_direct_state_access</extension>
    <extension>GL_ARB_compute_variable_group_size</extension>
    <extension>GL_ARB_vertex_attrib_binding</extension>
    <extension>GL_EXT_texture_filter_anisotropic</extension>
    <extension>GL_KHR_debug</extension>
    <extension>GL_NVX_gpu_memory_info</extension>
    <extension>GL_NV_bindless_multi_draw_indirect</extension>
    <extension>GL_NV_bindless_multi_draw_indirect_count</extension>
    <extension>GL_NV_command_list</extension>
    <extension>GL_NV_path_rendering</extension>
    <extension>GL_NV_shader_buffer_load</extension>
    <extension>GL_NV_shader_buffer_store</extension>
    <extension>GL_NV_uniform_buffer_unified_memory</extension>
    <extension>GL_NV_vertex_buffer_unified_memory</extension>
  </extensions>
</mygl-generator>














